
/* MAIN STYLES */

body {
    background: url(images/golden-glow.png);
}

form {
    margin-top: 80px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.btn {
    background-color: #910a30;
}

a {
    color: #c4a9b1;
}

/* WELCOME SCREEN 1 */

.welcome-card {
    background: rgba(4,3,3,.8);
    padding: 60px;
    margin-top: 100px; 
}
.welcome-card h1 {
    color: #910a30;
}
.welcome-card h4 {
    color: #c4a9b1;
    font-weight: 100;
}
.welcome-card a {
    color: #c4a9b1;
}
.welcome-card a:hover {
    text-decoration: underline;
}

