
/* MAIN STYLES */

* {
    font-family: 'Open Sans', sans-serif;
}

.load-background {
    background: url(images/snow.jpg) !important;
}




.btn {
    background-color: #910a30;
    margin-top: 20px;
    color: #ebe1e4;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: #640d26;
}

.btn-floating {
    background-color: #910a30;
}
.btn-floating-1 {
    background-color: #a51a41;
}
.btn-floating-2 {
    background-color: #d32f5d;
}
.btn-floating-3 {
    background-color: #f55683;
}
.btn-floating:hover, .btn-floating:active, .btn-floating:focus {
    background-color: #640d26;
}

a {
    color: #c4a9b1;
}
form {
    margin-top: 40px;
}
.input-field input:focus + label {
    color: #910a30 !important;
    font-size: 1.2em !important;
  }
.input-field input:focus {
    border-bottom: 1px solid #910a30!important;
    box-shadow: 0 1px 0 0 #910a30 !important
  }

/* WELCOME SCREEN 1 */

.modal {
    background-color: rgba(4,3,3,.8);
    padding: 100px;
    margin-top: 50px; 
}
.modal .modal-content {
    height: 100%;
    top: 50% !important;
    transform: translateY(-50%) !important;
    padding: 0 80px;
}
.modal h1 {
    color: #910a30;
}
.modal h4 {
    color: #ebe1e4;
    font-weight: 300;
}
.input-fields {
    margin-bottom: 10px;
    color: white;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: rgb(26, 24, 24);
}
.modal p {
    color: #ebe1e4;
    font-weight: 300;
}

.modal input {
    color: white;
}
.modal a {
    color: #d4cdcf;
}
.modal a:hover {
    text-decoration: underline;
}
.modal button {
    margin: 40px;
}
.modal .modal-footer {
    background-color: rgba(0,0,0,0);
}
.select-wrapper span.caret {
    color: white;
}
.select-wrapper input.select-dropdown {
    color: lightgrey;
}
.check-push {
    padding-right: 10px;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #910a30;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #910a30;
}

/* MAIN */

#header {
    height: 200px;
    background: url(images/genmood.jpg) no-repeat;
    background-size: cover;
}
#header h1 {
    margin: 4rem auto;
    color: #f0e3e6;
    font-weight: 600;
    /* background: rgb(83, 82, 82, .4);
    display: inline-block;
    padding: 10px; */
}
.main {
    width: 100%;
    padding: 20px;
    margin-top: 100px;
}
h3 {
    font-size: 1.5em;
    color: black;
    font-weight: 600;
    background-color: rgba(255, 255, 255, .4);
    padding: 5px;
}
.slider .slides li .caption {
    width: 100%;
    top: -21px;
    left: 0;
}

.slider .indicators .indicator-item.active {
    background-color: rgba(145, 10, 48, .3);
} 
.slider .indicators .indicator-item {
    background-color: rgba(148, 135, 138, .3);
}


/* MEDIA QUERIES */

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}
