
/* MAIN STYLES */

.btn {
    background-color: #910a30;
    margin-top: 20px;
    color: #c4a9b1;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: #640d26;
}

.btn-floating {
    background-color: #910a30;
}
.btn-floating-1 {
    background-color: #a51a41;
}
.btn-floating-2 {
    background-color: #d32f5d;
}
.btn-floating-3 {
    background-color: #f55683;
}
.btn-floating:hover, .btn-floating:active, .btn-floating:focus {
    background-color: #640d26;
}

a {
    color: #c4a9b1;
}

form {
    margin-top: 80px;
}
.input-field input:focus + label {
    color: #910a30 !important;
    font-size: 1.2em !important;
  }
.input-field input:focus {
    border-bottom: 1px solid #910a30!important;
    box-shadow: 0 1px 0 0 #910a30 !important
  }

/* WELCOME SCREEN 1 */

.welcome-card {
    background: rgba(4,3,3,.8);
    padding: 60px;
    margin-top: 50px; 
}
.welcome-card h1 {
    color: #910a30;
}
.welcome-card h4 {
    color: #c4a9b1;
    font-weight: 100;
}
.welcome-card a {
    color: #c4a9b1;
}
.welcome-card a:hover {
    text-decoration: underline;
}

/* MAIN */

#header {
    height: 200px;
    background: url(images/storm.jpg)
}
#header h1 {
    margin: 4rem auto;
    color: #f0e3e6;
}
.main {
    width: 100%;
    padding: 20px;
    margin-top: 100px;
}
.tabs .tab a {
    color: #c4a9b1;
}
.tabs .tab a:hover, .tabs .tab a:active, .tabs .tab a:focus, .tabs .tab a.active {
    color: #c48290;
    
}
/* Getting overwritten by jquery?? */
.tabs .tab a.active {
    border-bottom: 1px solid #f17397 !important;
}
